extends ./layouts/default

block title
    title Koa Douban 首页 

block content
    .container
            .row
                .col-md-8
                    h1 Hi #{me}
                    p This is #{you}
                .col-md-4
                    p 测试动态 HTML 页面    